In [6]:
import pandas as pd

In [7]:
pd.__version__

'1.4.0'

In [8]:
 df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [9]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [10]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
engine.connect()

In [13]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [14]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [15]:
df = next(df_iter)

In [16]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df

In [20]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 3.16 s, sys: 61.5 ms, total: 3.22 s
Wall time: 6.27 s

1000

In [22]:
from time import time

In [23]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print("Inserted another chunk..., took %.3f second" % (t_end - t_start))

Inserted another chunk..., took 6.930 second
Inserted another chunk..., took 6.867 second
Inserted another chunk..., took 7.079 second
Inserted another chunk..., took 6.588 second
Inserted another chunk..., took 7.420 second
Inserted another chunk..., took 6.617 second
Inserted another chunk..., took 6.401 second
Inserted another chunk..., took 6.459 second
Inserted another chunk..., took 6.405 second
Inserted another chunk..., took 6.025 second
Inserted another chunk..., took 6.641 second

/tmp/ipykernel_18298/116112839.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk..., took 6.622 second
Inserted another chunk..., took 4.249 second

StopIteration: